<h2>About Me</h2>
<p>My name is Brandon Lim. </p>
<p>I graduated from the University of California, Irvine in Spring 2016 with a double major in Computer Science and Business Information Management.</p>
<p>I'm currently a Software Engineer, Android at Airbnb working on the Search experience and previously worked on making Trips easier to manage.</p>
<p>I also worked previously at Amazon Lab126 as a Software Development Engineer working on libraries and frameworks that utilize media players on Android across Amazon's suite of FireOS products. </p>
<p>I have strong interests in Mobile Development and Finance. </p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bdlim">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/brandondlim/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-file-pdf-o fa-lg main-list-item-icon"></span>
    <a href="{{ site.baseurl }}/resume/BrandonLimResume2019.pdf">Resume</a>
  </li>  
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:brandondlim@gmail.com">Email</a>
  </li>  
</ul>

<hr />

<p>"The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License."</p>
